.searchNavbar{
    position: relative;
}

.container{
    position: absolute;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 12ch;
    
}
.item-suggestion{

    width: 12ch;
    border-radius: 4px;
    background-color: rgba(101, 54, 54, 0.15);
    padding: 0.1ch 1ch 0.2ch 2ch;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
}

