*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;

}
.menu{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-item{

    color: white;
    margin: 30px 0px;

}
.close{
    background-color: black;
    border-width: 2px;
    border-style:solid ;
    border-color: white;
    border-radius: 0px 8px;
    color: white;
    font-size: large;
    position: fixed;
    top: 30px;
    right: 15px;
    padding:1px 3px;

}

.menu-item:hover{
    
    color: rgb(191, 172, 141);
    text-decoration-line:overline ;
}

.close:hover{
    color: rgb(191, 172, 141);
    border-color:rgb(191, 172, 141);
}