.navBar{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height:25vh;
    background-color: #EBEBE2;
    padding:4vh 1vw ;
    
  
}
.menu{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.menu-item{
    text-decoration: none;
    padding: 1ch 2em;
    color: #007193;
}
.menu-item:hover{
    color: #b98077;
    text-decoration-line:overline ;
}
.search{
    margin-right:1;
}
.connecter{
    padding:1ch ;
    margin-right:2ch ;
    margin-left: 3ch;
}
.login{
    padding: 1% ;
    
}
.seConnecter{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #007193;
    box-sizing: content-box;
    text-decoration: none;
    border-bottom: solid;
    padding-bottom: 3px;
    border-bottom-width: 1.5px;

}
.seConnecter:hover{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #b98077;
    text-decoration-line:overline ;
    border-bottom: none;
}
.outlet{
    width: 100vw;
}







