*{
    text-align: center;
    
}

.a{
    z-index: 2345678;
}
.paperStyle{
width: 90%;
height: 80vh;
margin: 0 auto;
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
background-position: top center;
color: rgb(184, 182, 182);

}